$mycolor: black;
$header_color: #fdfeff;

div {
  div {
    div {
      p {
        color: $mycolor;
        background: $header_color;
      }
    }
  }
}

.soldout {
  readonly: true;
  disabled: true;
  background: grey;
}

.available {
  readonly: false;
  disable: false;
  background: none;
}
