

.footer{
    left:0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
    border: thin solid #f8f9fa!important;
    background: #f8f9fa!important;
    position: fixed;
    padding-bottom: 15px;
}
